@import "../global/variables";

.about {
  margin: 21px auto 0;
  width: $mobile-width;
  padding: 0 20px;
  font-family: "Oswald", "Arial", sans-serif;
}

.about__title {
  margin: 0;
  font-size: 36px;
  font-weight: normal;
  line-height: 60px;
  color: $black;
}

.about__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 9px 0 0;
  padding: 0;
}

.about__item {
  position: relative;
  margin-top: 20px;
  min-height: 60px;
  font-family: "Arial", sans-serif;
  padding-left: 80px;
  font-size: 14px;
  line-height: 18px;
  color: $grey;

  &--leaf::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
    background: $green url("../../img/advantage-leaf@1x.png") no-repeat 6px 4px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/advantage-leaf@2x.png");
      background-size: 50px 50px;
    }
  }

  &--water::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
    background: $green url("../../img/advantage-powder@1x.png") no-repeat 6px 4px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/advantage-powder@2x.png");
      background-size: 50px 50px;
    }
  }

  &--cutlery::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
    background: $green url("../../img/advantage-dining@1x.png") no-repeat 6px 4px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/advantage-dining@2x.png");
      background-size: 50px 50px;
    }
  }

  &--clock::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
    background: $green url("../../img/advantage-clock@1x.png") no-repeat 6px 4px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/advantage-clock@2x.png");
      background-size: 50px 50px;
    }
  }
}

.about__item-text {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  color: $grey;
}

.about__item-text br {
  display: none;
}

@media (min-width: $tablet-width) {
  .about {
    margin-top: 0;
    width: $tablet-width;
    padding: 0 30px;
  }

  .about__title {
    margin-top: 13px;
    margin-bottom: 12px;
    font-size: 60px;
    line-height: 60px;
    color: $black;
    font-weight: normal;
  }

  .about__list {
    margin-top: 72px;
    justify-content: space-between;
    flex-direction: row;
  }

  .about__item {
    z-index: 5;
    position: relative;
    padding-top: 111px;
    padding-left: 0;
    width: 324px;
    height: 280px;
    margin-bottom: 37px;
    margin-top: 0;

    &::before {
      width: 80px;
      height: 80px;
      background-position: 16px 15px;
    }

    &:nth-child(1)::after {
      font-family: "Oswald", "Arial", sans-serif;
      z-index: -1;
      position: absolute;
      content: "1";
      font-size: 281px;
      line-height: 281px;
      color: #f2f2f2;
      top: -40px;
      left: 117px;
    }

    &:nth-child(2)::after {
      font-family: "Oswald", "Arial", sans-serif;
      z-index: -1;
      position: absolute;
      content: "2";
      font-size: 281px;
      line-height: 281px;
      color: #f2f2f2;
      top: -40px;
      left: 111px;
    }

    &:nth-child(3)::after {
      font-family: "Oswald", "Arial", sans-serif;
      z-index: -1;
      position: absolute;
      content: "3";
      font-size: 281px;
      line-height: 281px;
      color: #f2f2f2;
      top: -40px;
      left: 113px;
    }

    &:nth-child(4)::after {
      font-family: "Oswald", "Arial", sans-serif;
      z-index: -1;
      position: absolute;
      content: "4";
      font-size: 281px;
      line-height: 281px;
      color: #f2f2f2;
      top: -40px;
      left: 113px;
    }
  }

  .about__item-text {
    width: 245px;
    font-size: 16px;
    line-height: 24px;
    color: $grey;
  }

  .about__item-text br {
    display: inline;
  }
}

@media (min-width: $desktop-width) {
  .about {
    margin-top: 42px;
    width: $desktop-width;
    padding: 0 110px;
  }

  .about__list {
    justify-content: space-between;
  }

  .about__item {
    width: 245px;
  }
}
