@import "../global/variables";

.additional-catalog {
  font-family: "Oswald", "Arial", sans-serif;
}

.additional-catalog__title {
  margin-top: 28px;
  margin-bottom: 35px;
  font-size: 24px;
  font-weight: normal;
  line-height: 24px;
  color: $black;
}

.additional-catalog__list {
  margin: 0 20px;
}

.additional-catalog__list:first-child {
  border-top: 1px solid #cdcdcd;
}

.additional-catalog__item {
  width: 100%;
  padding: 0;
  margin: 0;
  border-color: #cdcdcd;
}

.additional-catalog__item-title {
  padding: 0;
  margin: 12px 0 13px;
  border-bottom: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: normal;
  line-height: 16px;
  color: $black;
}

.additional-catalog__structure {
  border-collapse: collapse;
  margin: 0;
  width: 100%;
}

.additional-catalog__field,
.additional-catalog__value {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
}

.additional-catalog__button {
  width: 100%;
  margin: 13px 0 16px;
}

.additional-catalog__gift {
  position: relative;
  text-align: center;
  margin: 39px auto 35px;
  padding: 0 20px;
  width: 280px;
  height: 289px;
  background-color: #71b548;
  background-image: url("../../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.additional-catalog__gift-text {
  margin: 0;
  padding-top: 187px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.additional-catalog__gift-image {
  position: absolute;
  top: 65px;
  right: 112px;
  width: 56px;
  height: 60px;
}

@media (min-width: $tablet-width) {
  .additional-catalog {
    width: $tablet-width;
  }

  .additional-catalog__title {
    display: inline-block;
    width: auto;
    margin-top: 65px;
    margin-bottom: 76px;
    font-size: 36px;
    line-height: 36px;
  }

  .additional-catalog__wrapper {
    margin-top: 4px;
  }

  .additional-catalog__list {
    margin: 0 30px;
  }

  .additional-catalog__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 26px 37px 22px 38px;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
  }

  .additional-catalog__item-title {
    padding: 0 0 6px;
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }

  .additional-catalog__structure {
    width: auto;
    font-family: "Arial", sans-serif;
  }

  .additional-catalog__field,
  .additional-catalog__value {
    font-size: 16px;
    line-height: 20px;
  }

  .additional-catalog__structure tr {
    border: none;
  }

  .additional-catalog__field {
    flex-grow: 1;
    text-align: right;
  }

  .additional-catalog__value {
    margin-right: 0;
    width: 95px;
    justify-content: flex-end;
  }

  .additional-catalog__button {
    margin: 19px 0 4px;
    padding: 10px 0;
  }

  .additional-catalog__gift {
    text-align: left;
    margin-top: 70px;
    width: 708px;
    height: 200px;
    background-image: url("../../img/gift-photo-tablet@1x.jpg");
  }

  .additional-catalog__gift-text {
    padding: 71px 0 0 403px;
  }

  .additional-catalog__gift-image {
    top: 65px;
    left: 91px;
    right: auto;
  }
}

@media (min-width: $desktop-width) {
  .additional-catalog {
    width: $desktop-width;
  }

  .additional-catalog__title {
    margin-top: 75px;
    margin-bottom: 80px;
    padding: 0;
  }

  .additional-catalog__wrapper {
    margin: 0 40px 88px;
    display: flex;
    justify-content: space-between;
  }

  .additional-catalog__list {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 895px;
    margin: 0;
    justify-content: left;
  }

  .additional-catalog__item {
    display: flex;
    height: 72px;
    text-align: left;
    padding: 0;
    margin: 0;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #cdcdcd;
    border-top: none;
  }

  .additional-catalog__item-title {
    display: inline-block;
    padding: 0;
  }

  .additional-catalog__structure {
    margin: 0 35px 0 auto;
  }

  .additional-catalog__structure tr {
    align-items: center;
  }

  .additional-catalog__value {
    width: 49px;
    justify-content: left;
  }

  .additional-catalog__field {
    width: 245px;
    justify-content: left;
  }

  .additional-catalog__button {
    width: 245px;
    margin: 0;
  }

  .additional-catalog__gift {
    text-align: center;
    margin: 0;
    padding: 0;
    width: 245px;
    height: 288px;
    background: #71b548 url("../../img/gift-photo-desktop@1x.jpg") no-repeat;
    background-size: cover;
  }

  .additional-catalog__gift-image {
    top: 65px;
    left: 96px;
    right: auto;
  }

  .additional-catalog__gift-text {
    padding: 186px 38px 0 37px;
  }
}
