@import "../global/variables";
@import "../global/mixins";

.catalog {
  margin: 0 auto;
  width: $mobile-width;
  font-family: "Oswald", "Arial", sans-serif;
}

.catalog__title {
  margin: 0;
  padding: 13px 0 29px 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 60px;
  color: $black;
  border-bottom: 1px solid #ededed;
}

.catalog__list {
  @include list-style;
}

.catalog__item {
  padding: 0 20px 22px;
  width: 320px;
  border-bottom: 1px solid #ededed;
  display: flex;
  flex-wrap: wrap;
}

.catalog__item picture {
  height: 144px;
}

.catalog__image {
  width: 140px;
  height: 144px;
}

.catalog__item-info {
  width: 140px;
}

.catalog__item-title {
  margin: 22px 0 11px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  color: $black;
  text-transform: uppercase;

  & br:last-of-type {
    display: none;
  }
}

.catalog__structure {
  margin-left: -3px;
  width: 146px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 13px;
  color: $grey;
}

.catalog__structure tr {
  display: flex;
  justify-content: space-between;
}

.catalog__structure td {
  display: flex;
}

.catalog__button {
  font-size: 16px;
  line-height: 20px;
  width: 100%;
}

.catalog__more {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px 23px;
}

.catalog__more picture {
  width: 30px;
  height: 30px;
  margin: 26px 0 25px;
}

.catalog__more-image {
  width: 30px;
  height: 30px;
}

.catalog__more-title {
  margin: 0 0 7px;
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color: $black;
}

.catalog__more-title br {
  display: none;
}

.catalog__more-subtitle {
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: $grey;
}

.catalog__more-subtitle br {
  display: none;
}

.button.catalog__more-button {
  margin: 21px 0 0;
  width: 100%;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  background-color: #f2f2f2;
  color: $grey;
  text-transform: uppercase;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    color: rgba($grey, 0.3);
  }
}


@media (min-width: $tablet-width) {
  .catalog {
    width: $tablet-width;
  }

  .catalog__title {
    font-size: 60px;
    line-height: 60px;
    margin: 32px 0 0 30px;
    padding: 0;
    border-bottom: none;
  }

  .catalog__list {
    margin: 25px 30px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog__item {
    text-align: center;
    padding: 0 0 40px;
    width: 324px;
    background-color: #f2f2f2;
    margin-top: 140px;
    border-bottom: none;
  }

  .catalog__item-info {
    width: 100%;
    padding: 0 38px;
  }

  .catalog__item-title {
    font-size: 20px;
    line-height: 20px;
    margin-top: 36px;
    margin-bottom: 20px;

    & br:last-of-type {
      display: block;
    }

    & br:not(:last-of-type) {
      display: none;
    }
  }

  .catalog__item picture {
    margin-top: -81px;
    height: 208px;
  }

  .catalog__image {
    margin-top: 0;
    width: 324px;
    height: 208px;

    &--small {
      margin-top: 36px;
      height: 172px;
    }
  }

  .catalog__structure {
    border-collapse: collapse;
    width: 100%;
    line-height: 29px;
    font-size: 16px;
  }

  .catalog__structure tbody {
    width: 100%;
  }

  .catalog__value {
    margin-right: -7px;
  }

  .catalog__structure tr {
    border-bottom: 1px solid #cdcdcd;
  }

  .catalog__button {
    margin: 31px 38px 0;
  }

  .catalog__more {
    align-items: center;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
  }

  .catalog__more picture {
    margin: 54px 0 49px;
    width: 60px;
    height: 60px;
  }

  .catalog__more-image {
    width: 60px;
    height: 60px;
  }

  .catalog__more-title {
    font-size: 20px;
    margin-bottom: 23px;
  }

  .catalog__more-title br {
    display: block;
  }

  .catalog__more-subtitle {
    font-size: 16px;
    line-height: 20px;
  }

  .catalog__more-subtitle br {
    display: block;
  }

  .button.catalog__more-button {
    margin: auto 30px 0;
    width: 248px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    width: $desktop-width;
  }

  .catalog__title {
    padding-left: 110px;
    margin-left: 0;
    margin-top: 80px;
  }

  .catalog__list {
    margin: 23px 110px 0;
  }

  .catalog__item {
    width: 245px;
    margin-top: 142px;
  }

  .catalog__image {
    margin-top: 0;
    width: 245px;
    height: 208px;

    &--small {
      margin-top: 36px;
      height: 172px;
    }
  }

  .catalog__value {
    margin-right: -3px;
  }

  .button.catalog__more-button {
    width: 166px;
  }
}
