@import "../global/variables";

.get-program {
  margin: 0 auto;
  position: relative;
  width: $mobile-width;
  height: 480px;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  background-color: #ffffff;
  background-image: url("../../img/index-can-mobile@1x.png"), url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: right 20px bottom 43px, top;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/index-can-mobile@2x.png"), url("../../img/index-background-mobile@2x.jpg");
    background-size: 280px 271px, 320px 305px;
  }
}

.get-program__title {
  margin: 0;
  padding: 27px 0 25px;
  font-size: 36px;
  font-weight: normal;
  line-height: 36px;
  color: #ffffff;
}

.get-program__subtitle {
  margin: 0 0 30px -2px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}

.get-program__button {
  position: absolute;
  bottom: 0;
  right: 20px;
  left: 20px;
}

@media (min-width: $tablet-width) {
  .get-program {
    margin-top: 32px;
    text-align: left;
    width: $tablet-width;
    height: 810px;
    background-image: url("../../img/index-can-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: left 30px bottom 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/index-can-tablet@2x.jpg");
      background-size: 709px 609px;
    }
  }

  .get-program__wrapper {
    margin: 0 30px 0 117px;
  }

  .get-program__title {
    padding: 0;
    margin-bottom: 41px;
    width: 457px;
    font-size: 60px;
    line-height: 60px;
    color: $black;
  }

  .get-program__subtitle {
    margin: 0 0 48px;
    font-size: 20px;
    line-height: 20px;
    color: $black;
  }

  .get-program__button {
    position: relative;
    left: 0;
    right: 0;
    width: auto;
    padding: 16px 27px;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .get-program {
    margin: 0 auto;
    height: 696px;
    width: $desktop-width;
    background-image: url("../../img/index-can-desktop@1x.png"), url("../../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: top 142px left 560px, right;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/index-can-desktop@2x.png"), url("../../img/index-background-desktop@2x.jpg");
      background-size: 552px 449px, 720px 796px;
    }
  }

  .get-program__wrapper {
    margin: 0;
    padding: 222px 0 0 190px;
  }

  .get-program__title {
    margin-bottom: 41px;
  }

  .get-program__subtitle {
    margin: 0 0 53px;
  }
}
