@import "../global/variables";

.main-footer {
  width: 100%;
  background-color: #f2f2f2;
}

.main-footer__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-footer__logo {
  text-align: center;
  padding: 39px 0 31px;
}

.main-footer__logo-image {
  background-color: red;
}

.main-footer__list {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.main-footer__copy {
  margin: 0 20px;
  padding: 22px 0;
}

.main-footer__copy-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: $grey;
  font-size: 16px;
  line-height: 16px;
  font-family: "Arial", sans-serif;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-footer__copy-image {
  opacity: 1;
}

@media (min-width: 768px) {
  .main-footer__wrapper {
    width: 768px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1440px) {
  .main-footer__wrapper {
    width: 1440px;
    padding: 0 110px;
  }
}
