@import "../global/variables";

.main-form__wrapper {
  width: $mobile-width;
  margin: 0 auto;
  font-family: "Oswald", "Arial", sans-serif;
}

.main-form__title {
  margin: 15px 20px 24px;
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
  color: $black;
}

.main-form__about {
  margin: 0 20px 9px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: $black;
}

@media (min-width: $tablet-width) {
  .main-form__wrapper {
    width: $tablet-width;
  }

  .main-form__title {
    margin-top: 32px;
    font-size: 60px;
    margin-left: 30px;
  }

  .main-form__about {
    margin-left: 70px;
    margin-bottom: 39px;
    margin-top: 55px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .main-form__wrapper {
    width: $desktop-width;
  }

  .main-form__title {
    margin-top: 80px;
    margin-left: 110px;
  }

  .main-form__about {
    margin-left: 110px;
  }
}
