@import "../global/variables";

.main-header {
  margin: 0 auto;
  width: $mobile-width;
  border-bottom: 1px solid #e6e6e6;
}

.main-header__logo {
  display: block;
  width: 100%;
  height: 65px;
}

.main-header__logo-image {
  width: 198px;
  height: 38px;
}

.main-header__menu {
  position: relative;
}

@media (max-width: ($tablet-width - 1px)) {
  .main-menu--closed .site-list__item {
    display: none;
  }

  .main-menu--opened .site-list__item {
    display: block;
  }

  .main-menu__toggle {
    position: absolute;
    top: -43px;
    right: 20px;
    z-index: 2;

    display: block;
    width: 24px;
    height: 18px;

    background-color: #ffffff;
    cursor: pointer;
    border: none;
  }

  .main-menu--closed .main-menu__toggle::before {
    content: "";

    position: absolute;

    top: 0;
    left: 0;

    width: 24px;
    height: 2px;

    background-color: #222222;
    box-shadow: 0 8px 0 0 #222222, 0 16px 0 0 #222222;
  }

  .main-menu--opened .main-menu__toggle {
    &::before,
    &::after {
      content: "";

      position: absolute;

      top: 8px;
      left: 0;

      width: 24px;
      height: 2px;

      background-color: #000000;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

@media (min-width: $tablet-width) {
  .main-menu__toggle {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .main-header {
    width: $tablet-width;
    height: 108px;
    border-bottom: none;
  }

  .main-header__wrapper {
    height: inherit;
    margin: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-header__logo {
    display: block;
    width: auto;
    height: auto;
  }

  .main-header__logo-image {
    width: 178px;
    height: 58px;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    position: absolute;
    top: 32px;
    left: 0;
    right: 0;
    width: $desktop-width;
    z-index: 100;
  }

  .main-header__wrapper {
    margin: 0 110px;
  }

  .main-header__logo-image {
    width: 203px;
    height: 59px;
  }
}
