@import "../global/variables";

.main-footer {
  width: 100%;
  background-color: #f2f2f2;
}

.main-footer__wrapper {
  width: $mobile-width;
  margin: 0 auto;
  padding: 0 20px;
}

.main-footer__logo {
  text-align: center;
  padding: 37px 0 27px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-footer__list {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.main-footer__copy {
  margin: 0;
  padding: 21px 0;
}

.main-footer__copy-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: $grey;
  font-size: 16px;
  line-height: 16px;
  font-family: "Arial", sans-serif;

  &:hover path {
    fill: $green;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .main-footer__wrapper {
    width: $tablet-width;
    padding: 42px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-footer__logo {
    margin: 16px 0 0;
    padding: 0;
  }

  .main-footer__list {
    padding: 0;
    border: none;
  }

  .main-footer__copy {
    padding: 0;
  }

  .main-footer__copy-image {
    margin-left: 22px;
  }

  .main-footer__copy-link {
    margin-top: 8px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__wrapper {
    width: $desktop-width;
    padding: 47px 40px;
  }
}
