@import "../global/variables";

.map {
  margin-top: 35px;
  font-family: "Oswald", "Arial", sans-serif;
  background-color: #f2f2f2;
}

@media (max-width: $tablet-width - 1px) {
  .map--white {
    background-color: #ffffff;
  }
}

.example + .map {
  margin-top: 0;
}

.main-form__wrapper + .map {
  margin-top: 31px;
}

.map__wrapper {
  width: $mobile-width;
  margin: 0 auto 25px;
  padding: 28px 20px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.map__address {
  margin: 0;
  width: 50%;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: $grey;
}

.map__title {
  margin: 0;
  width: 50%;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: $black;
  text-transform: uppercase;
}

.map__image-wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.map__image {
  height: 362px;
  width: 100%;
  background: url("../../img/bg-map-mobile@1x.png");
  background-size: 100% 362px;
  display: block;
  margin: 0 auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/bg-map-mobile@2x.png");
  }
}

.map__google-map {
  height: 100%;
  width: 100%;
  border: none;
}

/*
.map__image-pin {
  position: absolute;
  height: 53px;
  width: 52px;
  top: 155px;
  left: 0;
  right: 0;
  margin: auto;
}
*/

@media (min-width: $tablet-width) {
  .map {
    margin-top: 77px;
  }

  .main-form__wrapper + .map {
    margin-top: 52px;
  }

  .example + .map {
    background-color: #ffffff;
    margin-top: 0;
  }

  .map__wrapper {
    margin: 0 auto;
    padding: 64px 71px 59px;
    width: $tablet-width;
  }

  .map__address {
    width: 195px;
    text-align: right;
    font-size: 16px;
    line-height: 20px;
  }

  .map__address-town {
    margin-top: 20px;
    display: inline-block;
  }

  .map__title {
    width: 195px;
    font-size: 20px;
    line-height: 25px;
  }

  .map__image {
    height: 396px;
    background-image: url("../../img/bg-map-tablet@1x.png");
    background-size: 100% 396px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/bg-map-tablet@2x.png");
    }
  }

  /*
  .map__image-pin {
    height: 106px;
    width: 106px;
    top: 146px;
  }
   */
}

@media (min-width: $desktop-width) {
  .map {
    position: relative;
  }

  .main-form__wrapper + .map {
    margin-top: 84px;
  }

  .map__wrapper {
    margin: 0;
    padding: 62px 49px 60px 75px;
    z-index: 1;
    background-color: #ffffff;
    position: absolute;
    top: 95px;
    left: 40px;
    width: 570px;
  }

  .map__content {
    position: relative;
    width: 1300px;
    margin: 0 auto;
  }

  .map__address {
    text-align: left;
  }

  .map__image {
    height: 399px;
    background-image: url("../../img/bg-map-desktop@1x.png");
    background-size: 100% 399px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/bg-map-desktop@2x.png");
    }
  }

  /*
  .map__image-pin {
    top: 150px;
    right: auto;
    margin: 0;
    left: 70%;
  }
  */
}
