@import "../global/variables";

.questionnaire {
  width: $mobile-width;
  margin: 30px auto 0;
}

.questionnaire__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.questionnaire__fieldset--flex {
  display: flex;
  flex-direction: column;
}

.questionnaire__label {
  margin: 7px 20px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  color: $label-color;
}

.questionnaire__radio-label {
  margin: 6px 20px;
  position: relative;
  height: 30px;
  padding-left: 45px;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #cecece;
  }
}

.questionnaire__radio:checked + label::before {
  position: absolute;
  top: 9px;
  left: 9px;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: $green;
}

.questionnaire__checkbox-label {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 45px;
  position: relative;

  &::after {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 30px;
    height: 30px;
    border: 1px solid #cfcfcf;
  }
}

.questionnaire__checkbox:checked + label::before {
  position: absolute;
  top: 7px;
  left: 5px;
  content: "";
  width: 21px;
  height: 16px;
  background-image: url("../../img/icon-tick.svg");
  background-size: 21px 16px;
}

.questionnaire__checkbox-wrapper {
  margin-top: -9px;
  display: flex;
  flex-direction: column;
}

.questionnaire__input {
  width: 100px;
  margin-left: 15px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  flex-grow: 1;
  padding: 13px 16px;
  border: 1px solid $input-border-color;
  text-transform: uppercase;
}

.questionnaire__radio-section,
.questionnaire__main-info {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  border-bottom: 1px solid #ededed;
}

.questionnaire__main-info {
  padding-bottom: 18px;
}

.questionnaire__radio-section {
  padding-top: 14px;
}

.questionnaire__legend {
  margin-top: 30px;
  margin-bottom: 36px;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  color: $black;

  &--two-lines {
    margin-bottom: 12px;
  }
}

.questionnaire__contacts {
  margin-top: 11px;
  display: flex;
  flex-direction: column;
}

.questionnaire__contacts .questionnaire__label:last-child {
  margin-bottom: 0;
}

.questionnaire__input--email {
  margin-left: 11px;
  padding-right: 32px;
  background-image: url("../../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-size: 17px 13px;
  background-position: top 18px right 10px;
}

.questionnaire__input--tel {
  margin-left: 11px;
  padding-right: 32px;
  background-image: url("../../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: top 14px right 8px;
}

.questionnaire__textarea {
  width: 280px;
  height: 150px;
  padding: 12px 14px;
  margin: 0 20px -3px;
  border: 1px solid $input-border-color;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
}

.questionnaire__button {
  font-size: 16px;
  line-height: 20px;
  border: none;
  width: calc(100% - 40px);
  margin: 22px 20px 20px;
}

.questionnaire__star {
  display: block;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: $grey;
}


@media (min-width: $tablet-width) {
  .questionnaire {
    width: $tablet-width;
    margin-top: 56px;
  }

  .questionnaire__label {
    font-size: 20px;
    line-height: 20px;
    margin: 10px 70px;
  }

  .questionnaire__input {
    font-size: 20px;
    line-height: 20px;
    padding: 15px 20px;
    margin-left: 17px;
  }

  .questionnaire__main-info {
    border-bottom: none;
    padding: 0;
  }

  .questionnaire__radio-section {
    margin: 62px 70px 46px;
    padding-top: 20px;
    padding-bottom: 19px;
    border: 1px solid #e6e6e6;
  }

  .questionnaire__radio-label {
    height: auto;
    margin: 6px 28px;
    padding: 10px 0 10px 59px;

    &::after {
      width: 40px;
      height: 40px;
    }
  }

  .questionnaire__radio:checked + label::before {
    width: 18px;
    height: 18px;
    top: 11px;
    left: 11px;
  }

  .questionnaire__textarea {
    margin: 35px 70px 36px;
    padding: 10px 18px;
    font-size: 20px;
    line-height: 30px;
    width: 630px;
    height: 174px;
  }

  .questionnaire__legend {
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 36px;
  }

  .questionnaire__contacts {
    margin-top: 26px;
    margin-bottom: 36px;
  }

  .questionnaire__input--email {
    padding: 15px 40px 15px 20px;
    margin-left: 20px;
    background-position: top 19px right 15px;
  }

  .questionnaire__input--tel {
    padding: 15px 40px 15px 19px;
    margin-left: 14px;
    background-position: top 17px right 12px;
  }

  .questionnaire__legend br {
    display: none;
  }

  .questionnaire__checkbox-wrapper {
    margin-top: 0;
    padding: 0 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
  }

  .questionnaire__checkbox-label {
    padding: 10px 0 10px 58px;
    width: 284px;
    margin: 16px 0;
    flex-grow: 0;

    &::after {
      width: 40px;
      height: 40px;
    }
  }

  .questionnaire__checkbox:checked + label::before {
    top: 13px;
    left: 10px;
  }


  .questionnaire__button {
    font-size: 20px;
    line-height: 20px;
    width: 284px;
    margin-top: 39px;
    margin-left: 70px;
    margin-right: 60px;
    padding: 16px 0;
  }

  .questionnaire__star {
    display: inline;
    font-size: 16px;
  }
}


@media (min-width: $desktop-width) {
  .questionnaire {
    width: $desktop-width;
  }

  .questionnaire__fieldset {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .questionnaire__main-info,
  .questionnaire__radio-section {
    width: 570px;
  }

  .questionnaire__main-info {
    margin-left: 110px;
  }

  .questionnaire__radio-section {
    margin: 0 110px 0 0;
  }

  .questionnaire__label:not(.questionnaire__radio-label):not(.questionnaire__checkbox-label) {
    margin-left: 0;
    margin-right: 0;
    width: 570px;
    flex-grow: 0;
  }

  .questionnaire__main-info .questionnaire__label {
    margin-left: 0;
    margin-right: 0;
  }

  .questionnaire__radio-label::after {
    top: 9px;
  }

  .questionnaire__radio:checked + label::before {
    top: 18px;
  }

  .questionnaire__contacts {
    width: 100%;
    margin-left: 110px;
    margin-right: 110px;
    flex-direction: row;
    justify-content: space-between;
  }

  .questionnaire__textarea {
    width: 1220px;
    height: 174px;
    margin-left: 110px;
    margin-right: 110px;
  }

  .questionnaire__checkbox-wrapper {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin-left: 110px;
    margin-right: 110px;
  }

  .questionnaire__checkbox-label {
    width: 245px;
  }

  .questionnaire__button {
    margin-left: 110px;
    margin-right: 80px;
    width: 570px;
  }
}
