.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 22px 0 18px;
}

.social-list__item:first-child {
  margin: 0 37px 0 0;
}

.social-list__item:last-child {
  margin: 0 0 0 39px;
}

.social-list__link {
  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}

.social-list__link-image.st-inst {
  fill: #231f20;
}
