@import "../global/variables";

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 22px 0 18px;
}

.social-list__item:first-child {
  margin: 0 37px 0 0;
}

.social-list__item:last-child {
  margin: 0 0 0 39px;
}

.social-list__link {
  &:hover path,
  &:hover circle,
  &:active path,
  &:active circle {
    fill: $green;
  }

  &:active {
    opacity: 0.3;
  }
}

.social-list__link-image.st-inst {
  fill: #231f20;
}


@media (min-width: $tablet-width) {
  .social-list {
    width: 124px;
    justify-content: space-between;
    padding: 11px 0 0;
    margin-left: 17px;
  }

  .social-list__item:first-child,
  .social-list__item:last-child {
    margin: 0;
  }

  .social-list__item--vk .social-list__link-image {
    width: 30px;
    height: 16px;
  }

  .social-list__item--inst .social-list__link-image {
    width: 23px;
    height: 23px;
  }

  .social-list__item--fb .social-list__link-image {
    width: 14px;
    height: 28px;
  }
}
