@import "../global/variables";

.title-wrapper {
  display: flex;
  justify-content: left;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}

.title {
  margin-left: 20px;
  margin-right: 0;
}

.title-line {
  /*24px*/
  background-color: $green;
  height: 3px;
}

.title-line--right {
  flex-grow: 1;
  margin-left: 24px;
}

@media (min-width: $tablet-width) {
  .title {
    margin-left: 0;
  }

  .title-line--left {
    width: 30px;
    margin-right: 37px;
  }

  .title-line--right {
    margin-left: 37px;
  }
}

@media (min-width: $desktop-width) {
  .title-line--left {
    width: 70px;
    margin-right: 39px;
  }

  .title-line--right {
    margin-left: 36px;
  }
}
