/*-----colors-----*/
$green: #68b738;
$black: #111111;
$grey: #444444;
$label-color: #222222;
$input-border-color: #e6e6e6;

/*-----sizes-----*/
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
