@import "global/variables";
@import "blocks/get-program";
@import "blocks/types";
@import "blocks/about";
@import "blocks/map";
@import "blocks/main-footer";
@import "blocks/social-list";
@import "blocks/catalog";
@import "blocks/button";

body {
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.wrapper {
  margin-right: 20px;
  margin-left: 20px;
}
